[submodule "lib/WIFIMANAGER-ESP32"]
	path = lib/WIFIMANAGER-ESP32
	url = https://github.com/etrinh/WIFIMANAGER-ESP32.git
[submodule "lib/Micro-RTSP"]
	path = lib/Micro-RTSP
	url = https://github.com/etrinh/Micro-RTSP.git
